#our-services .folder {
  margin: 50px;
  margin-top: 100px;
  position: relative;
  width: 80%;  // Ancho de la carpeta
  height: 50%;  // Alto de la carpeta
  background-color: #9968ec;  // Color de la carpeta
  //border: 2px solid #000;  // Borde de la carpeta
  border-radius: 20px;
  border-top-right-radius: 0;

  &::before {
    content: '';
    position: absolute;
    top: -12%;  // Posición del tab
    right: 0;
    width: 65%;  // Ancho del tab
    height: 12%;  // Alto del tab
    background-color: inherit;  // Mismo color de la carpeta
    //border-left: 2px solid #000;  // Borde izquierdo del tab
    //border-top: 2px solid #000;  // Borde superior del tab
    //border-right: 2px solid #000;  // Borde derecho del tab
    border-top-left-radius: 20px;  // Redondear la esquina superior izquierda del tab
    border-top-right-radius: 20px;  // Redondear la esquina superior derecha del tab
    clip-path: polygon(100% 100%, 100% 0, 10% 0, 0 100%);  // Ajuste del clip-path para un corte diagonal en el borde derecho
  }
}

.service-card {
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, z-index 0.3s ease;

  /* Mantener el botón visible y organizado al principio */
  button {
    margin-top: auto; /* Posicionar el botón al final del contenido */
  }

  /* Efecto hover para agrandar la card y ajustar el layout */
  &:hover {
    .description, button {
      opacity: 1;
      transform: translateY(0);
    }
    .icon-title-container {
      margin-bottom: 10px;
    }
  }

  /* Inicialmente ocultar la descripción */
  .description {
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px); /* Inicialmente empuja la descripción hacia abajo */
  }

  /* Inicialmente ocultar el botón */
  button {
    opacity: 1;
    transform: translateY(0); /* Mantener el botón visible inicialmente */
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;

  /* Espacio entre las cards durante el hover */
  .service-card {
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

  /* Ajustar el ancho de las cards para evitar superposiciones */
  .service-card:hover {
    z-index: 10; /* Asegurarse de que la card en hover esté encima de las demás */
  }
}
