@import "../../../styles.scss";

section#our-services {
    background-color: var(--bg); /* Utilizando la variable definida en :root */
    color: $text-color; /* Usando la variable $text-color */
}

.text-black {
    color: $text-color;
}

.primary-button {
    background-color: $primary-color;
    color: $text-color;
}