<section id="our-services" class="min-h-screen flex flex-col md:mr-20 md:ml-20 mr-10 ml-10">
    <!-- Título de la sección -->
    <div class="text-center lg:mb-8">
        <h3 class="text-4xl font-bold text-black">Nuestros Servicios</h3>
    </div>

    <!-- Contenido de la sección -->
    <div class="flex flex-wrap justify-between lg:mb-24 ">
        <!-- Título y descripción -->
        <div class="w-full md:w-4/12 mb-6 order-2 md:order-1 ">
            <h2 class="text-3xl font-bold text-black">NOSOTROS OFRECEMOS SOLUCIONES LÍDERES EN</h2>
        </div>
        <div class="w-full md:w-7/12 flex flex-col justify-center order-1 md:order-2">
            <p class="mb-4 text-justify text-black">En Code Merge nos especializamos en desarrollar software de calidad
                que impulsa el crecimiento de tu negocio. Nuestro enfoque está en la innovación, eficiencia y
                resultados.</p>
            <button
                class="inline-block bg-[#F0DCC3] text-black text-xl font-bold py-2 px-4 rounded-full hover:bg-purple-200 transition w-auto self-start">
                Comenzar ↗
            </button>
        </div>
    </div>

    <!-- Cards de servicios -->
    <div class="flex flex-wrap justify-center">
        <!-- Iterar las cards con Angular *ngFor -->
        <div *ngFor="let service of services" class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 p-2">
            <div class="bg-white p-6 rounded-3xl hover:shadow-lg flex flex-col items-center h-full">
                <div class="icon-title-container flex flex-col items-center mb-4">
                    <!-- Ícono de la card -->
                    <i class="text-4xl mb-2">{{ service.icon }}</i>
                    <!-- Título de la card -->
                    <h3 class="text-xl font-bold mb-2 text-center text-black">{{ service.title }}</h3>
                </div>
                <!-- Descripción de la card (visible solo al hover) -->
                <p class="description text-black text-center hover:opacity-100 transition-opacity duration-300">{{
                    service.description }}</p>
            </div>
        </div>
    </div>
</section>
