.bubble-profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre las burbujas */
    justify-content: center; /* Centra las burbujas horizontalmente */
    padding: 20px;
  }
