
 

  <section class="flex flex-col w-full bg-slate-200">
    
    <h1 class="text-black text-center mb-10">
        OUR CLIENTS
      </h1>
    
  
    <p-galleria 
      [value]="images" 
      [circular]="true"
      [showItemNavigators]="true" 
      [showThumbnails]="false" 
      [showIndicators]="true"
      [showIndicatorsOnItem]="true" 
      [changeItemOnIndicatorHover]="true" 
      [responsiveOptions]="responsiveOptions" 
      [containerStyle]="{'margin-left':'10px','margin-right':'10px'}"
    > 
      <ng-template pTemplate="item" let-item>

        <div class="flex flex-col md:flex-row  justify-center w-full  ">

          <!-- Left div -->
          <div class="md:w-1/2 p-4 flex flex-col items-start ml-20 mr-10 mt-5 mb-10">
            
            <h1 class="text-black ">{{ item.alt }}</h1>

            <p class="text-black">{{ item.op1 }}</p>
            <p class="text-black">{{ item.op2 }}</p>
            <p class="text-black">{{ item.op3 }}</p>
            
            <p-button 
              label="Ver más" 
              icon="pi pi-window-maximize" 
              badgeClass="p-badge-contrast" 
              class="align-right-button"
              outlined="true" 
              (click)="navigateToLink(item.link)"
            />


          </div>

          <!-- Right div -->
          <div class="w-full md:w-1/2 p-4 ml-20 mr-20">
            <img [src]="item.itemImageSrc" class=" tam_imagen w-full h-auto" alt="{{ item.alt }}" />
          </div>

        </div>


      </ng-template>

    </p-galleria>


  </section>
  