<div class="bg_animate">
    <div class="banner contenedor">
        <div class="banner_title">
            <h2>Desarrollo de 
                <span class="animation">Software</span>
                <br> a medida </h2>
            <a href="#" class="btn btn-2">Contactanos</a>
        </div>
        <div class="banner_img">
            <img src="images/photo-design.jpg" sizes="(max-width: 600px) 100vw,
            (max-width: 1200px) 50vw,
            33vw" alt="Image">
        </div>
    </div>
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</div>
