<div class="w-full flex flex-col items-center bg-primary rounded-lg">
    <div class="m-[2%] text-center">
        <h2 class="text-white text-3xl">Why choose CodeMerge?</h2>
        <div class="mx-auto mt-0 w-12 h-1 bg-white"></div>
    </div>
    <div class="m-[2%] text-center text-lg">
        We innovate to transform your ideas into digital solutions
    </div>
    <div class="flex flex-col md:flex-row items-center">
        <div class="order-2 md:order-1">
            <app-reusable-card 
                title="Validation"
                icon="pi pi-check-circle"
                description="We study your idea and together we develop a project.">
            </app-reusable-card>

            <app-reusable-card 
                title="Solution"
                icon="pi pi-objects-column"
                description="We respond effectively to a problem or need, we think differently.">
            </app-reusable-card>
        </div>
        <div class="order-1 md:order-2 w-1/2 h-1/2" id="lottie"></div>
        <div class="order-3 md:order-3">
            <app-reusable-card 
                title="Analysis"
                icon="pi pi-list-check"
                description="We monitor and study the data that each project presents.">
            </app-reusable-card>

            <app-reusable-card 
                title="Artificial Intelligence"
                icon="pi pi-microchip-ai"
                description="We solve user-centered problems, we have creative thinking to achieve it.">
            </app-reusable-card>
        </div>
    </div>
</div>