<div>
    <p-toolbar
        styleClass="bg-[rgb(25,25,25)] border-none px-[5%]">

        <ng-template pTemplate="start">
            <div class="logo">
                <div></div>
                <div></div>
                <div></div>
                <img src="images/Logo.svg" alt="Logo" class="w-[40px] h-[40px]"> 
            </div>
            <h1 class="ml-1 animation">CodeMerge</h1>
        </ng-template>

        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">

                <p-button label="About Us" [text]="true" severity="help" />
                <p-button label="What We Do" [text]="true" severity="help" />
                <p-button label="Our Results" [text]="true" severity="help" />
                <p-button label="Insights" [text]="true" severity="help" />
                <p-button label="Contact" [text]="true" severity="help" />
            </div>
        </ng-template>

        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <p-button  
                label="Try it Free" 
                [rounded]="true" 
                styleClass="bg-[#F0DCC3] text-black border-none" />
            </div>

        </ng-template>

    </p-toolbar>

</div>