<div class="card">
    <p-toolbar 
        styleClass="bg-gray-900 shadow-2" 
        [style]="{ 'border-radius': '3rem','background-color':'rgb(25,25,25)'}">

        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
        </ng-template>

        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">

                <p-button label="About Us" [text]="true" severity="help" />
                <p-button label="What We Do" [text]="true" severity="help" />
                <p-button label="Our Results" [text]="true" severity="help" />
                <p-button label="Insights" [text]="true" severity="help" />
                <p-button label="Contact" [text]="true" severity="help" />
            </div>
        </ng-template>

        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <p-button  label="Try it Free" class= "try" [rounded]="true" />
            </div>

        </ng-template>

    </p-toolbar>

</div>