<section class="card flex justify-content-center">
  <div class="custom-our-team-card container mx-auto">
    <div class="flex">
      <div class="flex-1">Columna 1</div>
      <div class="flex-1">
        <div class="flex">
          <h3 class="text-white">Nuestro Equipo</h3>
          <app-bubble-profiles-container />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div>NUESTRAS VENTAJAS</div>
      <div>
        <app-simple-card
          [iconText]="'fa fa-users'"
          [headerText]="'EQUIPO DE EXPERTOS'"
          [bodyText]="
            'Nuestro equipo experto de entusiastas de la tecnología y veteranos de la industria, dedicados a crear soluciones de vanguardia para tu éxito.'
          "
        >
        </app-simple-card>
      </div>
      <div>
        <app-simple-card
          [iconText]="'Icono 2'"
          [headerText]="'ANOTHER TEAM'"
          [bodyText]="
            'Our dedicated professionals are here to ensure your success with top-notch solutions.'
          "
        >
        </app-simple-card>
      </div>
    </div>
  </div>
</section>
