.custom-our-team-card{
    background-color:rgb(25,25,25) !important;
    background-image: url('../../../../public/images/software_developer.jpg');
    background-size: cover;
    background-position: center;
}