<section>
    <div class="mt-20 bg-custom-gray inline-flex flex-row ">
        <div class="ml-40 w-1/2">
            <h1 class="text-title">
                <span>
                    Su socio para soluciones integrales de TI
                </span>
                
            </h1>
            <input type="text" />
            <p>
                Ofrecemos servicios como desarrollo de software a medida, estrategias de computación en la
                nube. Soluciones de ciberseguridad y consultoría de transformación digital.
                Brindamos tecnología a las empresas para mejorar la productividad, la seguridad y la excelencia
                operativa general
            </p>
            <p-image src="images/ibm.png" alt="Image" width="250" />
            <p-image src="images/microsoft.png" alt="Image" width="300" />
            <p-image src="images/cisco.png" alt="Image" width="300" />
        </div>
        <div class=" p-4 w-1/2">
            <p-image src="images/photo-presentation.png" alt="Image" width="600"
                [preview]="true" />
        </div>
    </div>
</section>