
    <div class="mt-20  flex">
        <div class="ml-20">
            <div class="max-w-4xl">
                <h1 class="mt-10 text-title ">
                    Your
                    <span class="animation">
                        Partner
                    </span>
                    for comprenhesive
                    <span class="animation">
                        it
                    </span>
                    solutions
                </h1>
            </div>
            
            <div class="mt-12 wrapper">
                <input type="text" [(ngModel)]="message"
                    placeholder="Enter your problem" class="imput-text">
                <button (click)="sendMessage()">
                    Let's Talk
                    <app-icons name="send"></app-icons>
                </button>
            </div>

            <div
                class="mt-12 max-w-xl text-custom-white font-medium text-justify ">
                <p>
                    We offer services such as custom software development, cloud
                    computing strategies, cybersecurity
                    solutions, and digital transformation consultancy.
                    We empower businesses with technology to enhance
                    productivity, security, and overall operational
                    excellence.
                </p>
            </div>

            <div class="mt-10 flex">
                <div class="-mt-4 mr-5">
                    <app-icons name="ibm"></app-icons>
                </div>
                <div class="-mt-10 mr-5">
                    <app-icons name="microsoft"></app-icons>
                </div>
                <div class="-mt-5">
                    <app-icons name="cisco"></app-icons>
                </div>
            </div>
        </div>
        <div class="p-4">
            <img src="images/photo-presentation.png" alt="Image" width="90%"
                />
        </div>
    </div>