<div class="bg_animate w-full h-90vh relative overflow-hidden">
    <div class="containerFull flex justify-between items-center h-full m-14">
        <div class="banner_title w-1/2 text-white mt-[-80px]">
            <h2 class="text-8xl">Desarrollo de 
                <span class="animation">Software</span>
                a medida </h2>
            <a href="#" class="btn btn-2">Contactanos</a>
        </div>
        <div class="banner_img flex justify-center w-1/2">
            <img class="w-4/5" src="images/photo-design.jpg"  alt="Image" width="80vh">
        </div>
    </div>
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</div>
